@tailwind base;
@tailwind components;
@tailwind utilities;

//  ------ common styles
@import "./styles/common-styles";
//  ------ custom fonts
@import "./styles/custom-fonts";
//  ------ custom colors
@import "./styles/colors";
//  ------ custom input fields
@import "./styles/input-fields";
//  ------ custom font icons
@import "./styles/custom-icons/icon";

// pages custom styles
//  ------ custom landing styles
@import "./styles/landing-custom-styles";


/* Add this to your global CSS file */
html {
  scroll-behavior: smooth;
}


body {
  direction: rtl;
  background-color: var(--backgroundColor);
  color: var(--neutrals);
  font-size: 14px;
  font-family: "primaryFont";
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}


.ql-editor {
  font-size: 1.05rem;
  direction: rtl;
  text-align: right;
}

.ql-container {
  font-family: "primaryFont" !important;

}

.custom-post-content h2 {
  font-size: 1.125rem;
  margin-bottom: 6px;
}

.custom-post-content h3 {
  margin-bottom: 6px;
  font-size: 1rem;
  font-weight: bold;
}

.custom-post-content p {
  color: var(--neutrals-400);
}

.custom-post-content a,
.ql-snow a {
  color: var(--primary-700);
  text-decoration: none;

}

.custom-post-content a:hover {
  text-decoration: underline;
}

.dark .custom-post-content a {
  color: red;
}