@import "variables";

@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?2egq97');
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?2egq97#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?2egq97') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?2egq97') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?2egq97##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i[class*="maicon-"] {
    font-family: '#{$icomoon-font-family}' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.maicon-basil_filter-outline {
    &:before {
        content: $maicon-basil_filter-outline;
    }
}

.maicon-basil_filter-solid {
    &:before {
        content: $maicon-basil_filter-solid;
    }
}

.maicon-bx_up-arrow {
    &:before {
        content: $maicon-bx_up-arrow;
    }
}

.maicon-bx_user {
    &:before {
        content: $maicon-bx_user;
    }
}

.maicon-bxs_trash {
    &:before {
        content: $maicon-bxs_trash;
    }
}

.maicon-bxs_up-arrow {
    &:before {
        content: $maicon-bxs_up-arrow;
    }
}

.maicon-carbon_add-filled {
    &:before {
        content: $maicon-carbon_add-filled;
    }
}

.maicon-chart-pie-solid {
    &:before {
        content: $maicon-chart-pie-solid;
    }
}

.maicon-dashboard-solid {
    &:before {
        content: $maicon-dashboard-solid;
    }
}

.maicon-dashboard {
    &:before {
        content: $maicon-dashboard;
    }
}

.maicon-eva_arrow-up-fill {
    &:before {
        content: $maicon-eva_arrow-up-fill;
    }
}

.maicon-fa-solid_sort {
    &:before {
        content: $maicon-fa-solid_sort;
    }
}

.maicon-file-outline {
    &:before {
        content: $maicon-file-outline;
    }
}

.maicon-file-outline2 {
    &:before {
        content: $maicon-file-outline2;
    }
}

.maicon-file-solid {
    &:before {
        content: $maicon-file-solid;
    }
}

.maicon-file {
    &:before {
        content: $maicon-file;
    }
}

.maicon-flag-iran .path1 {
    &:before {
        content: $maicon-flag-iran-path1;
        color: rgb(218, 0, 1);
    }
}

.maicon-flag-iran .path2 {
    &:before {
        content: $maicon-flag-iran-path2;
        margin-left: -1em;
        color: rgb(238, 238, 238);
    }
}

.maicon-flag-iran .path3 {
    &:before {
        content: $maicon-flag-iran-path3;
        margin-left: -1em;
        color: rgb(35, 159, 64);
    }
}

.maicon-flag-iran .path4 {
    &:before {
        content: $maicon-flag-iran-path4;
        margin-left: -1em;
        color: rgb(233, 102, 103);
    }
}

.maicon-flag-iran .path5 {
    &:before {
        content: $maicon-flag-iran-path5;
        margin-left: -1em;
        color: rgb(190, 25, 49);
    }
}

.maicon-flag-iran .path6 {
    &:before {
        content: $maicon-flag-iran-path6;
        margin-left: -1em;
        color: rgb(190, 25, 49);
    }
}

.maicon-flag-iran .path7 {
    &:before {
        content: $maicon-flag-iran-path7;
        margin-left: -1em;
        color: rgb(123, 197, 140);
    }
}

.maicon-folder-solid {
    &:before {
        content: $maicon-folder-solid;
    }
}

.maicon-folder-solid2 {
    &:before {
        content: $maicon-folder-solid2;
    }
}

.maicon-folder {
    &:before {
        content: $maicon-folder;
    }
}

.maicon-gg_add {
    &:before {
        content: $maicon-gg_add;
    }
}

.maicon-ic_round-edit {
    &:before {
        content: $maicon-ic_round-edit;
    }
}

.maicon-ic_sharp-sort {
    &:before {
        content: $maicon-ic_sharp-sort;
    }
}

.maicon-icons8_sort {
    &:before {
        content: $maicon-icons8_sort;
    }
}

.maicon-material-symbols_bookmark-outline {
    &:before {
        content: $maicon-material-symbols_bookmark-outline;
    }
}

.maicon-material-symbols_bookmark {
    &:before {
        content: $maicon-material-symbols_bookmark;
    }
}

.maicon-material-symbols_download {
    &:before {
        content: $maicon-material-symbols_download;
    }
}

.maicon-material-symbols_share {
    &:before {
        content: $maicon-material-symbols_share;
    }
}

.maicon-material-symbols_upload {
    &:before {
        content: $maicon-material-symbols_upload;
    }
}

.maicon-mdi_calendar {
    &:before {
        content: $maicon-mdi_calendar;
    }
}

.maicon-mdi_clock-outline {
    &:before {
        content: $maicon-mdi_clock-outline;
    }
}

.maicon-mdi_clock {
    &:before {
        content: $maicon-mdi_clock;
    }
}

.maicon-mdi_comment-outline {
    &:before {
        content: $maicon-mdi_comment-outline;
    }
}

.maicon-mdi_comment {
    &:before {
        content: $maicon-mdi_comment;
    }
}

.maicon-mdi_sort {
    &:before {
        content: $maicon-mdi_sort;
    }
}

.maicon-mdi_user {
    &:before {
        content: $maicon-mdi_user;
    }
}

.maicon-mingcute_calendar-fill {
    &:before {
        content: $maicon-mingcute_calendar-fill;
    }
}

.maicon-mingcute_calendar-line {
    &:before {
        content: $maicon-mingcute_calendar-line;
    }
}

.maicon-mingcute_user-1-line {
    &:before {
        content: $maicon-mingcute_user-1-line;
    }
}

.maicon-mingcute_user-2-fill {
    &:before {
        content: $maicon-mingcute_user-2-fill;
    }
}

.maicon-mingcute_user-2-line {
    &:before {
        content: $maicon-mingcute_user-2-line;
    }
}

.maicon-moon-outline {
    &:before {
        content: $maicon-moon-outline;
    }
}

.maicon-moon-solid {
    &:before {
        content: $maicon-moon-solid;
    }
}

.maicon-mynaui_plus-solid {
    &:before {
        content: $maicon-mynaui_plus-solid;
    }
}

.maicon-ph_plus-fill {
    &:before {
        content: $maicon-ph_plus-fill;
    }
}

.maicon-pie-chart {
    &:before {
        content: $maicon-pie-chart;
    }
}

.maicon-square_add-solid {
    &:before {
        content: $maicon-square_add-solid;
    }
}

.maicon-square-add-outline {
    &:before {
        content: $maicon-square-add-outline;
    }
}

.maicon-sun-filled {
    &:before {
        content: $maicon-sun-filled;
    }
}

.maicon-tdesign_edit {
    &:before {
        content: $maicon-tdesign_edit;
    }
}

.maicon-typcn_info-outline {
    &:before {
        content: $maicon-typcn_info-outline;
    }
}

.maicon-typcn_info {
    &:before {
        content: $maicon-typcn_info;
    }
}

.maicon-weui_arrow-filled {
    &:before {
        content: $maicon-weui_arrow-filled;
    }
}

.maicon-weui_info-filled {
    &:before {
        content: $maicon-weui_info-filled;
    }
}