@import "variables";

@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?2egq97');
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?2egq97#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?2egq97') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?2egq97') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?2egq97##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i[class*="maicon-"] {
    font-family: '#{$icomoon-font-family}' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.maicon-add-circle-solid {
    &:before {
        content: $maicon-add-circle-solid;
    }
}

.maicon-add-circle {
    &:before {
        content: $maicon-add-circle;
    }
}

.maicon-add-square-solid {
    &:before {
        content: $maicon-add-square-solid;
    }
}

.maicon-add-square {
    &:before {
        content: $maicon-add-square;
    }
}

.maicon-bookmark-solid {
    &:before {
        content: $maicon-bookmark-solid;
    }
}

.maicon-bookmark {
    &:before {
        content: $maicon-bookmark;
    }
}

.maicon-comment-solid {
    &:before {
        content: $maicon-comment-solid;
    }
}

.maicon-comment {
    &:before {
        content: $maicon-comment;
    }
}

.maicon-download {
    &:before {
        content: $maicon-download;
    }
}

.maicon-edit-solid {
    &:before {
        content: $maicon-edit-solid;
    }
}

.maicon-edit {
    &:before {
        content: $maicon-edit;
    }
}

.maicon-gallery {
    &:before {
        content: $maicon-gallery;
    }
}

.maicon-hashtag {
    &:before {
        content: $maicon-hashtag;
    }
}

.maicon-image {
    &:before {
        content: $maicon-image;
    }
}

.maicon-share1 {
    &:before {
        content: $maicon-share1;
    }
}

.maicon-tag-solid {
    &:before {
        content: $maicon-tag-solid;
    }
}

.maicon-tag1 {
    &:before {
        content: $maicon-tag1;
    }
}

.maicon-trash-solid {
    &:before {
        content: $maicon-trash-solid;
    }
}

.maicon-trash {
    &:before {
        content: $maicon-trash;
    }
}

.maicon-upload {
    &:before {
        content: $maicon-upload;
    }
}

.maicon-user-solid {
    &:before {
        content: $maicon-user-solid;
    }
}

.maicon-users-solid {
    &:before {
        content: $maicon-users-solid;
    }
}

.maicon-image-solid {
    &:before {
        content: $maicon-image-solid;
    }
}

.maicon-category {
    &:before {
        content: $maicon-category;
    }
}

.maicon-video {
    &:before {
        content: $maicon-video;
    }
}

.maicon-share {
    &:before {
        content: $maicon-share;
    }
}

.maicon-hamburgermenu {
    &:before {
        content: $maicon-hamburgermenu;
    }
}

.maicon-arrrow {
    &:before {
        content: $maicon-arrrow;
    }
}

.maicon-tag {
    &:before {
        content: $maicon-tag;
    }
}

.maicon-dashboard {
    &:before {
        content: $maicon-dashboard;
    }
}

.maicon-pie-chart {
    &:before {
        content: $maicon-pie-chart;
    }
}

.maicon-search {
    &:before {
        content: $maicon-search;
    }
}