$icomoon-font-family: "maicons" !default;
$icomoon-font-path: "./assets/fonts/font-icons" !default;

$maicon-basil_filter-outline: unquote('"\\e900"');
$maicon-basil_filter-solid: unquote('"\\e901"');
$maicon-bx_up-arrow: unquote('"\\e902"');
$maicon-bx_user: unquote('"\\e903"');
$maicon-bxs_trash: unquote('"\\e904"');
$maicon-bxs_up-arrow: unquote('"\\e905"');
$maicon-carbon_add-filled: unquote('"\\e906"');
$maicon-chart-pie-solid: unquote('"\\e907"');
$maicon-dashboard-solid: unquote('"\\e908"');
$maicon-dashboard: unquote('"\\e909"');
$maicon-eva_arrow-up-fill: unquote('"\\e90a"');
$maicon-fa-solid_sort: unquote('"\\e90b"');
$maicon-file-outline: unquote('"\\e90c"');
$maicon-file-outline2: unquote('"\\e90d"');
$maicon-file-solid: unquote('"\\e90e"');
$maicon-file: unquote('"\\e90f"');
$maicon-flag-iran-path1: unquote('"\\e910"');
$maicon-flag-iran-path2: unquote('"\\e911"');
$maicon-flag-iran-path3: unquote('"\\e912"');
$maicon-flag-iran-path4: unquote('"\\e913"');
$maicon-flag-iran-path5: unquote('"\\e914"');
$maicon-flag-iran-path6: unquote('"\\e915"');
$maicon-flag-iran-path7: unquote('"\\e916"');
$maicon-folder-solid: unquote('"\\e917"');
$maicon-folder-solid2: unquote('"\\e918"');
$maicon-folder: unquote('"\\e919"');
$maicon-gg_add: unquote('"\\e91a"');
$maicon-ic_round-edit: unquote('"\\e91b"');
$maicon-ic_sharp-sort: unquote('"\\e91c"');
$maicon-icons8_sort: unquote('"\\e91e"');
$maicon-material-symbols_bookmark-outline: unquote('"\\e91f"');
$maicon-material-symbols_bookmark: unquote('"\\e920"');
$maicon-material-symbols_download: unquote('"\\e921"');
$maicon-material-symbols_share: unquote('"\\e922"');
$maicon-material-symbols_upload: unquote('"\\e923"');
$maicon-mdi_calendar: unquote('"\\e924"');
$maicon-mdi_clock-outline: unquote('"\\e925"');
$maicon-mdi_clock: unquote('"\\e926"');
$maicon-mdi_comment-outline: unquote('"\\e927"');
$maicon-mdi_comment: unquote('"\\e928"');
$maicon-mdi_sort: unquote('"\\e929"');
$maicon-mdi_user: unquote('"\\e92a"');
$maicon-mingcute_calendar-fill: unquote('"\\e92b"');
$maicon-mingcute_calendar-line: unquote('"\\e92c"');
$maicon-mingcute_user-1-line: unquote('"\\e92d"');
$maicon-mingcute_user-2-fill: unquote('"\\e92e"');
$maicon-mingcute_user-2-line: unquote('"\\e92f"');
$maicon-moon-outline: unquote('"\\e930"');
$maicon-moon-solid: unquote('"\\e931"');
$maicon-mynaui_plus-solid: unquote('"\\e932"');
$maicon-ph_plus-fill: unquote('"\\e933"');
$maicon-pie-chart: unquote('"\\e934"');
$maicon-square_add-solid: unquote('"\\e935"');
$maicon-square-add-outline: unquote('"\\e936"');
$maicon-sun-filled: unquote('"\\e937"');
$maicon-tdesign_edit: unquote('"\\e939"');
$maicon-typcn_info-outline: unquote('"\\e93a"');
$maicon-typcn_info: unquote('"\\e93b"');
$maicon-weui_arrow-filled: unquote('"\\e93c"');
$maicon-weui_info-filled: unquote('"\\e93d"');