$icomoon-font-family: "maicons" !default;
$icomoon-font-path: "./assets/fonts/font-icons" !default;

$maicon-add-circle-solid: unquote('"\\e908"');
$maicon-add-circle: unquote('"\\e909"');
$maicon-add-square-solid: unquote('"\\e90a"');
$maicon-add-square: unquote('"\\e90b"');
$maicon-bookmark-solid: unquote('"\\e90d"');
$maicon-bookmark: unquote('"\\e90e"');
$maicon-comment-solid: unquote('"\\e90f"');
$maicon-comment: unquote('"\\e910"');
$maicon-download: unquote('"\\e911"');
$maicon-edit-solid: unquote('"\\e912"');
$maicon-edit: unquote('"\\e913"');
$maicon-gallery: unquote('"\\e914"');
$maicon-hashtag: unquote('"\\e915"');
$maicon-image: unquote('"\\e916"');
$maicon-share1: unquote('"\\e917"');
$maicon-tag-solid: unquote('"\\e918"');
$maicon-tag1: unquote('"\\e919"');
$maicon-trash-solid: unquote('"\\e91a"');
$maicon-trash: unquote('"\\e91b"');
$maicon-upload: unquote('"\\e91c"');
$maicon-user-solid: unquote('"\\e91d"');
$maicon-users-solid: unquote('"\\e91f"');
$maicon-image-solid: unquote('"\\e920"');
$maicon-category: unquote('"\\e921"');
$maicon-video: unquote('"\\e907"');
$maicon-share: unquote('"\\e900"');
$maicon-hamburgermenu: unquote('"\\e901"');
$maicon-arrrow: unquote('"\\e902"');
$maicon-tag: unquote('"\\e903"');
$maicon-dashboard: unquote('"\\e904"');
$maicon-pie-chart: unquote('"\\e905"');
$maicon-search: unquote('"\\e906"');