$icomoon-font-family: "mahdimahdiyani" !default;
$icomoon-font-path: "../../assets/fonts/font-icons" !default;

$maicon-share: "\e900";
$maicon-hamburgermenu: unquote('"\\e901"');
$maicon-arrrow: unquote('"\\e902"');
$maicon-tag: unquote('"\\e903"');
$maicon-dashboard: unquote('"\\e904"');
$maicon-pie-chart: unquote('"\\e905"');
$maicon-search: unquote('"\\e906"');