:root {
    --primary: #B9812B;
    --primary-900: #87560E;
    --primary-800: #A06D1F;
    --primary-700: #B88436;
    --primary-600: #CD9A4F;
    --primary-500: #DDAF6B;
    --primary-400: #E9C287;
    --primary-300: #F2D3A3;
    --primary-200: #F9E2BF;
    --primary-100: #FDEFDA;
    --primary-0: #FFFBF5;

    --neutrals: #111111;
    --neutrals-600: #252525;
    --neutrals-500: #444444;
    --neutrals-400: #666666;
    --neutrals-300: #8A8A8A;
    --neutrals-200: #B0B0B0;
    --neutrals-100: #D7D7D7;

    --surfaceBg: #fff;
    --surfaceBorder: #E5E7EB;

    --backgroundColor: #fafaf9;

    // Denotive colors
    --info: #0B65E4;
    --success: #20845A;
    --warn: #F5CC47;
    --danger: #C8372C;
    --teal: #00B8D9;
}