@layer base {
    @font-face {
        font-family: "primaryFont";
        font-weight: 100;
        font-style: normal;
        src: url("./assets/fonts/iransans/Woff/IRANSansXFaNum-Thin.woff") format("woff"),
            url("./assets/fonts/iransans/Woff2/IRANSansXFaNum-Thin.woff2") format("woff2");
    }

    @font-face {
        font-family: "primaryFont";
        font-weight: 200;
        font-style: normal;
        src: url("./assets/fonts/iransans/Woff/IRANSansXFaNum-UltraLight.woff") format("woff"),
            url("./assets/fonts/iransans/Woff2/IRANSansXFaNum-UltraLight.woff2") format("woff2");
    }

    @font-face {
        font-family: "primaryFont";
        font-weight: 300;
        font-style: normal;
        src: url("./assets/fonts/iransans/Woff/IRANSansXFaNum-Light.woff") format("woff"),
            url("./assets/fonts/iransans/Woff2/IRANSansXFaNum-Light.woff2") format("woff2");
    }

    @font-face {
        font-family: "primaryFont";
        font-style: normal;
        font-weight: normal;
        src: url("./assets/fonts/iransans/Woff/IRANSansXFaNum-Regular.woff") format("woff"),
            url("./assets/fonts/iransans/Woff2/IRANSansXFaNum-Regular.woff2") format("woff2");
    }

    @font-face {
        font-family: "primaryFont";
        font-style: normal;
        font-weight: 500;
        src: url("./assets/fonts/iransans/Woff/IRANSansXFaNum-Medium.woff") format("woff"),
            url("./assets/fonts/iransans/Woff2/IRANSansXFaNum-Medium.woff2") format("woff2");
    }

    @font-face {
        font-family: "primaryFont";
        font-style: normal;
        font-weight: 600;
        src: url("./assets/fonts/iransans/Woff/IRANSansXFaNum-DemiBold.woff") format("woff"),
            url("./assets/fonts/iransans/Woff2/IRANSansXFaNum-DemiBold.woff2") format("woff2");
    }

    @font-face {
        font-family: "primaryFont";
        font-style: normal;
        font-weight: bold;
        src: url("./assets/fonts/iransans/Woff/IRANSansXFaNum-Bold.woff") format("woff"),
            url("./assets/fonts/iransans/Woff2/IRANSansXFaNum-Bold.woff2") format("woff2");
    }

    @font-face {
        font-family: "primaryFont";
        font-style: normal;
        font-weight: 800;
        src: url("./assets/fonts/iransans/Woff/IRANSansXFaNum-ExtraBold.woff") format("woff"),
            url("./assets/fonts/iransans/Woff2/IRANSansXFaNum-ExtraBold.woff2") format("woff2");
    }

    @font-face {
        font-family: "primaryFont";
        font-style: normal;
        font-weight: 900;
        src: url("./assets/fonts/iransans/Woff/IRANSansXFaNum-Black.woff") format("woff"),
            url("./assets/fonts/iransans/Woff2/IRANSansXFaNum-Black.woff2") format("woff2");
    }

    @font-face {
        font-family: "primaryFont";
        font-style: normal;
        font-weight: 950;
        src: url("./assets/fonts/iransans/Woff/IRANSansXFaNum-ExtraBlack.woff") format("woff"),
            url("./assets/fonts/iransans/Woff2/IRANSansXFaNum-ExtraBlack.woff2") format("woff2");
    }

    @font-face {
        font-family: "primaryFont";
        font-style: normal;
        font-weight: 1000;
        src: url("./assets/fonts/iransans/Woff/IRANSansXFaNum-Heavy.woff") format("woff"),
            url("./assets/fonts/iransans/Woff2/IRANSansXFaNum-Heavy.woff2") format("woff2");
    }
}